<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-analytics-sample.ZPM">
    <Module>
      <Name>iris-analytics-sample</Name>
      <Version>1.0.2</Version>
      <Dependencies>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="teccod.PKG"/>
      <Resource Name="data.GBL"/>
      <Resource Name="*.DFI" />
      <Invoke Class="teccod.rest.Security" Method="CreateUsers"></Invoke>
      <Invokes>
        <Invoke Class="%DeepSee.Utils" Method="%BuildCube">
          <Arg>TimeOfProjectsCube</Arg>
        </Invoke>
      </Invokes>
      <Parameter Name="folder" Value="irisapp" />
      <FileCopy Name="dsw/irisapp.json" Target="${cspdir}dsw/configs/${folder}.json"/>
    </Module>
  </Document>
</Export>